
html {background-image: url("environ-images/environ-02.png"); color:chartreuse; font-family: fantasy;}
#topping {
    background:blue;
    padding:30px}
div {background-image: url(environ-images/environ-02head.png);}
