body{
    background: grey;
}
#counter{
    background:green;
    position: absolute;
    top:5px;
    right:5px;
    height:300px;

}
.key{
    margin: auto;
    position: relative;
}
#k1{
    position: absolute;
    margin:auto;

}


.page{
     border: 1px solid #2222dd;
     width: 600px; 
     height: 500px;
     margin: auto;
     position: relative;
   
}
#instructions{
    background: beige;
    width: fit-content;
    position: relative;
    right:50px;
    top: 40px;
}

#click_here{
    position:absolute;
    bottom: 10px;
    right: 10px;
}


#room1{
     background: rgb(184, 77, 77);

}

.doors{
    background: brown;
    width: fit-content;
    position:absolute;
}
#door1{
    bottom: 20px;
}
#door2{
    bottom: 20px;
    left: 50px;
}

#door3{
    bottom: 20px;
    left: 100px;
}

#door4{
    bottom: 20px;
    left: 150px;
}


#room2{
    background-image: url(images/Screenshot\ 2026-06-03\ at\ 3.36.28\ AM.png);
    background-position: center;
    

}

#item{
    bottom: 100px;
    right:100px;
    width: 60px;
    height:40px;
    border: 1px solid blue;
}

#room3{
    background: rgb(34, 176, 77);

}

